footer {
  background-color: #ddf3fc;
  width: 100%; }
  footer div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer div p {
      font-size: 1.5vh;
      padding-left: 10px; }
    footer div div {
      padding-right: 80px; }
      footer div div a {
        color: black;
        font-size: 2vh;
        padding: 14px 20px; }
