#logo {
  margin-left: 5px;
  height: 84px;
  transition: height 0.4s; }

.main-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  background: #eee; }

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-top: 22px; }

ul li a {
  text-decoration: none;
  padding: 40px;
  color: black;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  transition: color 0.4s; }

.link_color {
  color: #1f8dc0; }

.link_color:hover {
  color: black; }

.GH_hover:hover {
  color: #1f8dc0; }
