section:nth-of-type(2) {
  margin: -50px 10px 20px 10px; }

h2 {
  text-align: center;
  font-size: 30px; }

span.line {
  background-color: blue;
  width: 4rem;
  height: 3px;
  display: block;
  margin: 1rem auto; }

div.description {
  text-align: center; }
  div.description p {
    margin-bottom: 10px; }

img.little_pic {
  display: block;
  margin: 20px auto; }

section:nth-of-type(3) {
  margin: 20px 10px; }
