@import 'variables';

footer{
  background-color: rgb(221, 243, 252);
  width: 100%;
  margin: 0;
  padding: 0;
  
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.5vh;
      font-family: $font-family;
      padding-left: 10px;
    }
    div {
      padding-right: 80px;
      a {
        text-decoration: none;
         color: black;
         font-size: 2vh;
         padding: 14px 20px;
        }
    }
  }
}