@import 'variables';
// Mobile first
@mixin flexy {
  display: flex;
  justify-content: space-between;
}
header {
  width: 100%;
  top: 0;
  background: #eee;
  span {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: black;
    font-size: 26px;
  }
  img {
    margin-top: 5px;
    margin-left: 5px;
  }
  nav {
    ul {
    list-style-type: none;
    display: none;
    li {
      text-align: center;
      margin: 15px auto;
      a {
        font-family: $font-family;
        color: $color-primary;
        &:hover {
          color: black;
        }
      } 
     }
   }
  }
}
.active {
  display: block;
  padding-bottom: 2px;
}
.GH_hover {
  color: black;
 &:hover {
  color: $color-primary;
  }
}

  @media only screen and (min-width: $medium) {
    header {
      @include flexy;
      position: fixed;
      span {
        display: none;
      }
      img {
        height: 100%;
        transition: height 0.4s;
        margin: 0;
      }
      nav {
        ul {
         @include flexy;
          align-items: center;
          list-style-type: none;
          padding-top: 15px;
        li {
          a {
          text-decoration: none;
          padding: 40px;
          color: $color-primary;
          font-size: 25px;
          transition: color 0.4s;
          &:hover {
            color: black;
            }
          }
        }
      }
    }
  }
}