 section:nth-of-type(2) {
  height: 100vh;
 }
.about_me_introduction {
    font-size: 2em;
    font-family: $font-family;
    text-align: center;
    padding: 20px 0;
    margin-top: 120px;
  }
  .bottom_line {
    height: 3px;
    width: 4rem;
    display: block;
    margin: 0 auto 1rem auto;
    background: $color-primary;
  }
  .about_me_section {
    column-count: 2;
    column-gap: 100px;
    padding: 20px;
  }
  
  .small_pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
  }
  .process {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    grid-gap: 3rem;
    text-align: center;
  }
  .skill-container {
    width:100%;
    background-color:rgb(221, 243, 252) ;
  }
  .skills {
    text-align: right;
    padding: 10px 10px 10px 0;
    color: black;
    font-size: 20px;
  }
  .html{width:100%; background-color:$color-primary}
  .css{width:90%; background-color:$color-primary}
  .rwd{width:100%; background-color:$color-primary}
  .js{width:80%; background-color:$color-primary}
  .sass{width:80%; background-color:$color-primary}
  .react{width:80%; background-color:$color-primary}
  .ts{width:50%; background-color:$color-primary}
  
  .sixth_section {
    display: flex;
    align-items: center;
    align-content: space-between;
  }
  
  .motivational_letter {
    font-family: $font-family;
    text-align: center;
    padding-left: 20px;
  }
  p {
    font-size: 20px;
    font-family: $font-family;
  }
  .mentor_words {
    padding: 20px;
    margin: 20px;
  }