@import 'variables';
@mixin animation {
    -ms-transform: scale(1.05) translateZ(0);
    transform: scale(1.05) translateZ(0);
  }
section:nth-of-type(2) {
margin: -40px 10px 20px 10px;
}
h2 {
    text-align: center;
    font-size: 30px;
}
h2:first-of-type {
    margin-top: 10px;
}
span.line {
    background-color: $color-primary;
    width: 4rem;
    height: 3px;
    display: block;
    margin: 1rem auto 2rem auto;
}
div.description {
    text-align: center;
    p {
        margin-bottom: 10px;
    }
}
img.little_pic {
    display: block;
    margin: 20px auto;
    &:hover {  
       @include animation;
        }
    }

section:nth-of-type(3) {
    margin: 20px 10px;
}
div.my_rules {
    text-align: center;
    margin-bottom: 20px;
    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

div.progress_ {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
    grid-gap: 30px; 
   p {
        border-radius: 15px;
        background-color:$color-primary;
        color: white;
        text-align: center;
        width: 120px;
        line-height: 100px;
        height: 100px;
        &:hover {
            @include animation;
        }
    }
}
div.last_section {
    text-align: center;
    margin: 10px;
    padding: 10px 0;
    img.mentor {
        margin-top: 20px;
    }
}

@media only screen and (min-width: $medium) {
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    div#aboutMe {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        div.pictures {
            display: flex;
        }
    }
   
    div.progress{
        height: 30%;
        div.progress_ {
            display: flex;
            justify-content: space-around;
        }
    }
    div.last_section {
        display: flex;
       justify-content: space-around;
       align-items: center;
    }
}
i.success {
    font-size: 30px;
}