@import 'variables';
@mixin flexy {
  display: flex;
  justify-content: space-between;
}
// Mobile first
span#js-navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: black;
  font-size: 26px;
}
nav {
  ul {
    list-style-type: none;
    display: none;
  }
  li {
    text-align: center;
    margin: 15px auto;
  }
  a {
    text-decoration: none;
    color: $color-primary;
    font-size: 20px;
    &:hover {
      color: black;
    }
  }.active {
    display: block;
    padding-bottom: 10px;
  }
  .GH_hover {
    color: black;
    &:hover {
      color: $color-primary;
    }
  }
}
@media only screen and (min-width: $medium) {
  header {
  @include flexy;
    span {
      display: none;
    }
    nav {
      ul {
       @include flexy;
        align-items: center;
        padding-top: 15px;
      }
      a {
      text-decoration: none;
      padding: 40px;
      color: $color-primary;
      font-size: 25px;
      &:hover {
        color: black;
        }
      }
    }
  }
}

