$color-primary: #1f8dc0;
$font-family: 'Roboto', sans-serif;
 @import 'header';
 @import 'main_section';
 @import 'main';
 @import 'footer';

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
section {
  display: block;
}

